body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.pink {
    color: rgb(200, 47, 72);
}

.flexible-container {
    display: flex;
    margin-bottom: 150 px;
}

.half-width {
    width: 60%;
    padding-left: 5%;

}

.half-width img {
    width: 60%;
    padding: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 7px;
    font-weight: 700;

}

.top-banner {
    background-image: url(aye-folder/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(aye-folder/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(aye-folder/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    border-radius: 10px;
    border-left: 7px salmon;


}

#full-stake-devo {
    border-left: 7px solid tomato;
}

#baby-web {
    border-right: 7px solid blue;
}

footer p {
    text-align: center;

}